---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description="Self introduction"
	pubDate={new Date('June 30 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Greetings! I'm Howard Xu, a student majoring in AI at Shanghai Jiao Tong University. I have a
		passion for exploring the realms of artificial intelligence and its applications. I'm especially 
		interested in Reinforcement Learning (RL) and Large Language Models (LLMs). My journey in AI has been
		inspiring, and I am excited to share my insights and experiences with you through this blog
	</p>

	<p>
		As a student, I am currently delving into deep learning, as well as playing with various agents.
		I am currently participating in an EDA agent research project as part of the summerschool program.
		I enjoy experimenting with different algorithms and frameworks to enhance my understanding of AI.
	</p>

	<p>
		As for education, I have mastered basic data structures and algorithms in c-plus-plus. I have a good 
		mastery of Python, and I'm currently learning the Pytorch framework. I'd also like to explore more tools like docker,
		and about AI infra like CUDA.
	</p>

	<p>
		Thank you for visiting my blog! I hope you find the content here informative and engaging.
		 If you have any questions or suggestions, feel free to reach out to me through the contact page.
		I look forward to connecting with other AI enthusiasts and sharing knowledge in this exciting field.
	</p>

	
</Layout>
